VITE_API_URL=https://fqg27fj0idic0tmq91ssdh20.178.105.11.199.sslip.io
VITE_WS_URL=wss://fqg27fj0idic0tmq91ssdh20.178.105.11.199.sslip.io
VITE_STORAGE_PUBLIC_URL=https://minio-api-kqf7qd.178.105.11.199.sslip.io/instagram-uploads
